@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 8% 97%; /* #F5F5F5 */
    --foreground: 222 47% 11%;
    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;
    --primary: 206 70% 63%; /* #5DADE2 */
    --primary-foreground: 210 40% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 38 92% 56%; /* #F39C12 */
    --accent-foreground: 210 40% 98%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 206 70% 63%;
    --radius: 0.5rem;
    --chart-1: 206 70% 63%;
    --chart-2: 38 92% 56%;
    --chart-3: 210 60% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 290 70% 60%;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 210 40% 98%;
    --card: 222 47% 11%;
    --card-foreground: 210 40% 98%;
    --popover: 222 84% 4.9%;
    --popover-foreground: 210 40% 98%;
    --primary: 206 70% 63%;
    --primary-foreground: 222.2 47.4% 11.2%;
    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;
    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;
    --accent: 38 92% 56%;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 50.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 206 70% 63%;
    --chart-1: 206 70% 63%;
    --chart-2: 38 92% 56%;
    --chart-3: 210 60% 50%;
    --chart-4: 43 74% 66%;
    --chart-5: 290 70% 60%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  .prose {
    --tw-prose-invert-body: hsl(var(--foreground));
    --tw-prose-invert-headings: hsl(var(--primary));
  }
}

@layer components {
    .card-glow {
        @apply transition-all duration-300;
    }
    .card-glow:hover {
        @apply shadow-2xl;
        box-shadow: 0 0 15px 1px hsl(var(--primary) / 0.4), 0 0 40px 10px hsl(var(--background));
    }
}
